#talkatv-comments form textarea {
    width: 100%;
}

#talkatv-comments .comment-username {
    float: right;
}

#talkatv-comments li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: thin solid #ccc;
}

#talkatv-comments li p {
    margin-bottom: .5em;
}

.navbar .navbar-inner {
    height: 65px;
}

.navbar .nav {
    padding: 1em 0;
}
