{% extends "base.html" %}
  {% block title %}Profile for {{ nickname }}{% endblock %}
  {% block content %}
  <h2>Profile for {{ nickname }} ({{ localname  }})</h2>
  <div id="comments">
  Mentions of {{ fulluserid }}
      <ul id="comments">
        {% for comment in mentions %}
          <li class='comment'>
            <p>
              {{ comment.decorated_content }}
            </p>
            <div class="byline">
              <a href="{{ comment.author_uri }}">{{ comment.author_display_name }}</a>
              {{ comment.posted_at|timesince }} ago
              {% if comment.parent_uri %}
              in <a href="{{ comment.parent_uri }}">{{ comment.parent_uri }}</a>
              {% endif %}
              <br/>
            </div>
          </li>
        {% endfor %}
      </ul>
  	  {% if is_own_profile %}
      <form id='comment-form' action="{{ parent_uri }}" method="post">
        Edit your profile:
        <input type="hidden" name="oldlocalname" value="{{ localname }}" />
        <div>Local User Name:
          <input type="text" name="newlocalname" value="{{ localname }}" />
        </div>
        <div>Your Nickname:
          <input type="text" name="newnickname" value="{{ nickname }}" />
        </div>
        <div>Your Public Key:
          <input type="text" name="newpublickey" value="{{ publickey }}" />
        </div>
        <div><input id="submit-button" type="submit" value="Update Profile"></div>
      </form>
      {% else %}
        <a href="{{ login_url }}">Log in</a> to view more information or edit.
      {% endif %}
  	</div>
  {% endblock %}
